@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --bg-color-1:#ffffff;
    --bg-color-2:#fafafa;
    --accent-color:#e82c5b;
    --accent-color-light:#fa5b83;
    --accent-color-lightest:#ffeef3;
    --secondary-color:#5f1ae2;
    --dark-gray:#1f1f21;
    --border-color:#ececec;
    --font-color-1:#211317;
    --font-color-2:#000000;
}

body{
    font-family: 'Inter', sans-serif;
    background:var(--bg-color-1);
    color:var(--font-color-2);
    margin:0;
}

h1{
    color:var(--font-color-1);
}