#main-wrapper{
    width:100vw;
    height:100vh;
    overflow:hidden;
    display:flex;
    flex-direction:row;
    align-items:flex-start;
    justify-content:flex-start;
}

#sidebar{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:space-between;
    background:var(--bg-color-2);
    height:100%;
    border-right:2px solid var(--border-color);
    width:304px;
}

#sidebar > div{
    display:flex;
    flex-direction:column;
    gap:6px;
    width:256px;
    padding:24px;
}

#sidebar-header{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    margin-bottom:12px;
}

#sidebar-header > div{
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:6px;
}

#sidebar-header > div > img{
    height:30px;
}

#sidebar-header > div > h1{
    margin:0;
    font-size:18px;
}

#sidebar-header > p{
    margin:0;
    background:var(--accent-color);
    color:var(--bg-color-2);
    font-size:12px;
    padding:4px 9px;
    border-radius:12px;
    font-weight:600;
}

#sidebar > div > p{
    font-size:12px;
    text-transform:uppercase;
    color:gray;
    margin:0;
}

#sidebar > div > a{
    text-decoration:none;
    color:var(--font-color-1);
    transition-duration:125ms;
    display:flex;
    flex-direction:row;
    align-items:center;
    width:calc(100% - 36px);
    height:36px;
    padding:0 18px;
    border-radius:18px;
    gap:12px;
}

#sidebar > div > a > img{
    height:16px;
    filter:invert(0.5);
}

#sidebar > div > a > p{
    font-size:14px;
    color:gray;
    margin:0;
}

.active-sidebar-link, #sidebar > div > a:hover{
    background:var(--border-color);
}

.active-sidebar-link > img{
    filter:invert(0) !important;
}

.active-sidebar-link > p{
    color:var(--font-color-1) !important;
    font-weight:700;
}

.container{
    width:calc(100vw - 352px);
    padding:24px;
    display:none;
    flex-direction:column;
    align-items:flex-start;
    justify-content:flex-start;
    overflow-y:scroll;
    height:calc(100vh - 48px);
}

.active-container{
    display:flex;
}

.container > h1{
    margin:0;
    font-size:32px;
}

#dashboard-buttons{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    align-items:flex-start;
    gap:24px;
    margin:24px 0;
}

#dashboard-buttons > div{
    position:relative;
    border:2px solid var(--border-color);
    width:256px;
    padding:12px;
    display:flex;
    flex-direction:column;
    transition-duration:125ms;
    gap:12px;
    cursor:pointer;
    border-radius:12px;
}

#dashboard-buttons > div:hover{
    background:var(--bg-color-2);
}

#dashboard-buttons > div > img:first-of-type{
    position:absolute;
    height:16px;
    top:12px;
    right:12px;
}

#dashboard-buttons > div > div{
    width:36px;
    height:36px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    background:var(--accent-color-lightest);
    border-radius:8px;
}

#dashboard-buttons > div > div > img{
    height:18px;
}

#dashboard-buttons > div > h1{
    margin:0;
    font-size:16px;
}

.container > h2{
    margin:0;
    font-size:16px;
}
